body {
  background-image: url("../ticks.png");
  background-repeat: repeat;
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 32px;
	text-transform: uppercase;
}

h1 small {
	text-transform: none;
}

.page-header {
	border-bottom-color: #999999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

header {
	padding-top: 30px;
}

footer {
	text-shadow: 0px 0px;
	text-align: center;
	color: #cccccc;
	padding: 2px;
	margin-top: 300px;
	border-top-style: solid;
	border-top-color: #cccccc;
	border-top-width: 1px;
}

p {
	font-weight: bold;
	font-size: 14px;
	margin: 10px;
}

address {
	margin: 10px;
}

.row {
	padding-top: 20px;
}
